body {
    display: flex;
    font-family: sans-serif;
    font-size: 1em;
    justify-content: center;
}

h1 {
    text-align: center;
    font-size: 1.2em;
    margin: 15px 0;

}

h2 {   
    text-align: center;
    font-size: 1.2em;
    margin: 8px 0;
}

img {
    margin-bottom: 20px;
    width: 150px;
    height: 150px;  
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-shadow: 0px 0px 5px 0px black;
    max-width: 500px;
    padding: 0 15px;
}

#resultado {
    text-align: center;
}

.imgparte1 {
    display: flex;
    justify-content: center;
}

.caixa {
    width: 300px;
    padding: 8px;
    margin: 10px 0;
    font-size: 1em;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#btnCalcular {
    font-size: 1em;
    padding: 5px;
    margin: 10px 10px;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    transition: .5s;
    width: 200px;
}

#btnCalcular:hover {
    background-color: black;
    color: white;
    transition: .5s;
}

#btnLimpar {
    font-size: 1em;
    padding: 5px;
    margin: 10px 10px;
    background-color: white;
    border: black solid 1px;
    border-radius: 5px;
    transition: .5s;
    width: 200px;
}

#btnLimpar:hover {
    background-color: black;
    color: white;
    transition: .5s;
}